version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: "gomod"
    directory: "/gensrv"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "/gensrv"
    schedule:
      interval: "monthly"
